@import url(https://fonts.google.com/specimen/Poppins);

body {
  font-family: 'Poppins', sans-serif;
  background-color: hsl(0, 0%, 90%);
  color: hsl(228, 12%, 44%);
  font-size: 15px;
  font-weight: 400;
  line-height: 1.6;
}


/* Calculator Container */
#container {
  display: flex;
  flex-direction: column;
}

#calculator {
  display: flex;
  flex-direction: column;
  background-color: hsl(0, 0%, 98%);
  border-radius: 10px;
  margin: 5rem auto;
  padding: 2rem 2rem 4rem 2rem;
  width: 500px;
  height: 350px;
  border-radius: 20px;
  border-bottom-right-radius: 170px;
}

/* Button */
.calculator-button {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  margin-bottom: 0 auto;
}

.line {
  width: 90%;
  height: 1px;
  border-bottom: 1px solid hsl(0, 0%, 86%);
}


.button {
  height: 55px;
  width: 55px;
  border-radius: 50%;
  border: none;
  background-color: hsl(259, 100%, 65%);
  cursor: pointer;
  transition: .3s ease;
}

.button:hover {
  background-color: hsl(0, 0%, 8%);
}

.button img {
  height: 30px;
  width: 25px;
}



/* Inputs Fields */
.inputs-field {
  display: flex;
  flex-direction: row;
  /* justify-content: space-evenly; */
  gap: 40px;
  padding-right: 30px;
  margin-bottom: 1rem;
}

::placeholder {
  color: hsl(228, 12%, 44%);
  font-weight: 800;
  font-size: 20px;
  padding-left: 6px;
  opacity: 0.5;
}

.inputs-field label {
  display: flex;
  flex-direction: column;
  font-size: 0.6rem;
  font-weight: 700;
  letter-spacing: 2px;
  margin-bottom: 3px;
  text-transform: uppercase;
  color: hsl(228, 12%, 44%);
}

input {
  height: 40px;
  width: 90px;
  font-size: 20px;
  font-weight: 800;
  padding-left: 10px;
  border: 1px solid hsl(0, 0%, 86%);
  border-radius: 5px;
}


/* Results */
.result h2 {
  font-size: 80px;
  font-weight: 800;
  font-style: italic;
  margin-bottom: -60px;
  margin-top: 0;
  color: hsl(230, 17%, 14%);
}

span {
  color: hsl(259, 100%, 65%);
  font-weight: 800;
}

/* Footer */
.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}